.main-content__faq {
  border-bottom: 1px solid gray;
  width: 95%;
  margin: 0 auto;
}
.main-content__faq__list {
  position: relative;
}
.main-content__faq__list__qu,
.main-content__faq__list__an__on {
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
  padding: 10px 10px;
  gap: 10px;
  border-top: 1px solid gray;
}
.main-content__faq__list__an__on {
  background-color: #e4e7e7;
}
.main-content__faq__list__an {
  display: none;
}
.main-content__faq__list__qu__mark,
.main-content__faq__list__an__mark {
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.main-content__faq__list__an__mark {
  background-color: coral;
}
.main-content__faq__list__qu__title,
.main-content__faq__list__an__title {
  line-height: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.main-content__faq__list__qu__title p,
.main-content__faq__list__an__title p {
  margin-top: 0;
  text-align: left;
}
.main-content__faq__list__qu__button {
  position: absolute;
  top: 15px;
  right: 10px;
}
